<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/preflight.min.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/bubble-letters" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="/dist/index.css" rel="stylesheet">
    <link href="/dist/form.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <title>Instfactwi</title>
    <title>Instfactwi</title>
</head>

<body class="dark:bg-gray-900">
    <!-- tab navigation -->
    <%- include('../partial/user-nav') %>


        <div class="p-6">

            <h1 class="md:text-5xl text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
                id="heading">
                <%= title %>
            </h1>
            <br>
            <div class="dark:text-white flex justify-evenly text-black p-2">
                <div
                    class="w-full h-4/6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex flex-col items-center p-5">
                        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                            <%= user.email %>
                        </h5>
                        <span class="text-sm text-gray-500 dark:text-gray-400">
                            👾 Insta Id :- <%= user.account.ig.name %>
                        </span>
                        <div class="flex mt-4 space-x-3 md:mt-6">
                            <span class="text-sm">Created at :- <%= user.createdAt %></span>
                            <span class="text-sm">Modified at :- <%= user.updatedAt %></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="p-2">
                <button id="getdetails"
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get
                    Details</button>
            </div>
            <br>
            <div class="dark:text-white text-black">
                <pre class="justify-normal" id="details" class="dark:text-white text-black p-2 m-2">
                </pre>
            </div>
        </div>


        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
            integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
            integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="/js/butter/butter.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/dashboard.js"></script>
</body>

</html>